/* En tu archivo de estilos CSS (por ejemplo, DirectorsTable.css) */

.container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
  
h2 {
    margin-bottom: 20px; /* Ajusta el margen según tus necesidades */
}
  
table {
    width: auto; /* Ajusta el ancho de la tabla según tus necesidades */
    min-width: 1000px;
}

th, td {
    padding: 10px; /* Ajusta el espaciado interno de las celdas según tus necesidades */
    text-align: left; /* Alinea el texto a la izquierda en las celdas */
    border: 1px solid #ddd; /* Agrega bordes a las celdas */
  }
  
  th {
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
  }